body{
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
}

.mainContainer{
    background-color: whitesmoke;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    overflow: auto;
}

.mainContainer > h1{
    display: inline-block;
}

.mainContainer > h4{
    display: inline-block;
}

#SearchQuery{
    width: 50%;
    /* text-align: center; */
    align-self: center;
    display: block;
    margin-left: 22%;
    margin-top: 5%;
}

.loading{
    position: fixed;
    width: 25%;
    top: 45%;
    left: 37%;
    height: 10%;
    /* opacity: 1.5 !important; */
    background-color: #003B46;
}

.progress{
    margin-top: 18%;
}

.imageContainer{
    margin-top: 5%;
}

nav{
    background-color: #B7B8B6;
}

#nextPage{
    margin: 5px;
    margin-top: 10px;
}

#buttonContainer{
    margin-top: 10px;
}